
html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px; 
}

.navbar {
    background-color: transparent !important; 
    transition: background-color 0.4s ease-in-out;
}

.navbar.navbar-scrolled {
    /* background-color: #198754 !important; */
    background-image: url('images/navbar-01.png') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.nav-link {
    color: white !important;
    font-weight: normal; 
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); 
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid transparent; 
    transition: border-color 0.3s;
}

.nav-tabs .nav-link {
    color: #198754; 
}

.nav-tabs .nav-link.active {

    background-color: #f8f9fa;
    border-color: #dee2e6 #dee2e6 #f8f9fa;
    font-weight: bold;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    border-bottom-color: #f5d547; /* Cor de destaque amarela */
}

section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 80px 0;
}

#inicio {
    background-image: url(images/scai_fundo_inicio_site.svg);
    background-size: cover; /* Preenche toda a tela */
    background-position: center;
    background-repeat: no-repeat;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    border: none; /* Remove qualquer borda */
}

/* Responsividade para #inicio */
@media (max-width: 1024px) {
    #inicio {
        background-image: url(images/scai_fundo_site_mobile.svg);
        padding: 0;
        font-size: 1rem;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
    }
}

/* Responsividade para #inicio */
@media (max-width: 960px) {
    #inicio {
        background-image: url(images/scai_fundo_site_mobile.svg);
        padding: 0;
        font-size: 1rem;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
    }
}

/* Responsividade para #inicio */
@media (max-width: 768px) {
    #inicio {
        background-image: url(images/scai_fundo_site_mobile.svg);
        padding: 0;
        font-size: 1rem;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
    }
}

@media (max-width: 480px) {
    #inicio {
        background-image: url(images/scai_fundo_site_mobile.svg);
        padding: 0;
        font-size: 0.9rem;
        background-size: cover;
        background-position: center;
        min-height: 100vh;
        width: 100vw;
        height: 100vh;
    }
}

/* Estilo para o carrossel de palestrantes */
.carousel-item .card {
    background-color: transparent;
    border: none;
}
